<!--<link rel="styleSheet" href="css/metro.css" />-->
<div ng-controller="oStartCtrl as C1" ng-cloak>
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="W"><strong>O2 Employees' navigation panel</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="tile blue" ng-click="C1.getMaps()">
                    <h3 class="title">Interactive maps</h3>
                    <p class="st">Our offices</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="tile red" ng-click="C1.getCharts()">
                    <h3 class="title">Charts and graphs</h3>
                    <p class="st">Check varies statistics</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="tile green" ng-click="C1.getDetails()">
                    <h3 class="title">Internal spreadsheets</h3>
                    <p class="st">Detailed information</p>
                </div>
            </div>
        </div>
    </div>
</div>